/** @format */

.Schedule {
  figure {
    background: mediumaquamarine;
  }
  .react-calendar {
    width: 100%;
  }
  .react-calendar__tile--now {
    background: hotpink;
  }
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: tomato;
}
.react-calendar__tile--active {
  background: mediumaquamarine;
  color: white;
}
